
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

.h1 {
    font-family: "Road Rage", cursive; /* Use 'cursive' as fallback */
    font-size: 62px;
}
body{
    background: #02191D;
}

